//  colors 
$main_color : #2f466e;
$color_1    : #ffffff;
$color_2    : #57595b;
$color_3    : #c79b2d;
$color_4    : #000;
$color_5    : #2b2b29;
$color_6    : #f7f7f7;
$color_7    : #000   ;


// button
$height_btn:49px;

// font

$font_s  : 16px;

